<head>
  <title>Edit Details</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 </head>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/profile/">{{user.first_name}} {{user.last_name}}</a>
    </div>
    <ul class="nav navbar-nav">
      
      <li><a href="/changepassword/"><span>Change Password</span></a></li>
        
        </ul>
      </li>
      
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/editprofile/">
              <span class="glyphicon glyphicon-pencil">Edit Details</span>
          </a>
      </li>
      <li><a href="/logout/"><span>Log Out</span></a><li>
    
    </ul>
  </div>
</nav>


<br><br>
<div class="container">
<div class="jumbotron">
	<b><h2>Edit Profile of {{user.username}}</h2></b>
<form method='post'>
{%csrf_token%}
{{form.as_p}}
<input type="submit" value="Submit">
</form>
</div>
</div>

 <style>
 	 .jumbotron {
      margin-bottom: 0;
      background-color:#3c754a;
    }
 </style>

